.app {
    font-family: "Foundry";
    background: #152b36; /* darkest blue */
    color: #007985; /* middle blue */
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
}

.dashboard {
	border: 1px solid rgba(5, 83, 92, 0.5);
	padding: 1rem;
	height: 98%;
	margin: 0 !important;
}

.browser-icons {
	position: relative;
	background: rgba(5, 83, 92, 0.1);
	height: 1.5rem;
	border: 1px solid rgba(5, 83, 92, 0.5);
	overflow: hidden;
  	box-shadow: 0 0.25em 0.9em -0.1em rgba(0,0,0,.3);
}

.browser-icons .icon {
	display: inline-block;
	background: rgba(255, 255, 255,.05);
	color: #5eadb5;
	width: 24px;
	height: 100%;
	margin: 0rem 0.1rem;
	text-align: center;
	cursor: pointer;
}

.browser-icons .icon:hover {
	background: rgba(255, 255, 255,0.1);
}
















.displaycontact {
	/*padding: 1rem;*/
	margin: 0 !important;
}

.basic {
	font-size:22px;
	color: #5eadb5; /* lightest blue */
}

.profile {
    width: 120%;
    opacity: 0.8;
}

.img-container {
	overflow:hidden;
	height: 100%;
}


.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bb {
  width: 164px;
  height: 164px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #5eadb5;
  box-shadow: inset 0 0 0 1px #007985;
}
.bb::before, .bb::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
  z-index: 10;
}
.bb::before {
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  background-color: rgba(5, 83, 92, 0.3);
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 180px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 180px, 0px);
  }
  50% {
    clip: rect(178px, 180px, 180px, 0px);
  }
  75% {
    clip: rect(0px, 180px, 180px, 178px);
  }
}

.quote-text {
	font-size: 10px;
}



.featured {
	background-color: rgba(255, 255, 255, 0.03);
	font-size: 1.2rem;
	text-align: right;
}

.vertical-text{
/*	width:1px;
	word-wrap: break-word;
	white-space:pre-wrap;
	line-height: 1rem;*/

	transform: rotate(-90deg);
	font-weight: bold;
	font-size: 1.7rem;
}

.card {
	background: transparent !important;
	border-color: #003f45 !important;
}

.card-title {
	position: absolute;
	top: -1rem;
	left: 2.5rem;
	font-size: 20px;
}

.smaller-font {
	margin-top: 1rem;
	font-size: 12px;
	line-height: 0.9rem;
}

#topmask {
    position: absolute;
    top: -1px;
    right: 1px;
    width: 85%;
    height: 1px;
    background-color: #152b36;
}

#leftmask {
	position: absolute;
    bottom: -1px;
    left: -1px;
    height: 45%;
    width: 1px;
    background-color: #152b36;
}




.matrix {

}

.matrix .list-group {
	flex-direction: row;
	flex-wrap: wrap;
}

.matrix .matrix-item {
	background: transparent;
	width: 27%;
	padding: 0.3rem 0.15rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-size: 14px;
	color: #003f45;
	border: 1px solid #003f45;
	list-style: none;
}

.matrix-item::before {
	content: "<";
	cursor: pointer;
	font-weight: bold;
}
.matrix-item::after {
	content: ">";
	cursor: pointer;
	font-weight: bold;
}

.matrix .active {
	color: #5eadb5;
	border-color: #007985;
}





/*-------------------------------------------------*/
/*-------------------------------------------------*/

.contact-list {
	padding: 0 !important;
	margin: 0 !important;
}

.contact-list .list-group-item {
	background: rgba(255, 255, 255, 0.1);
	color: #5eadb5;
}

.contact-entry {
	background: transparent;
}

.age {
  color: #776ad4;
}


/*-------------------------------------------------*/
/*-------------------------------------------------*/

.addcontact {
	border: 1px solid;
	box-shadow: none;
}

.addcontact input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid;
}






